<h1>Add attachment</h1>
<%= form_with(model: user) do |f| %>
  <%= f.file_field :attachment %>
  <%= f.submit 'Upload' %>
<% end %>

<%= content_tag(:div, flash[:error]) %>
<% if flash[:info] %>
  <%= content_tag(:div, style: "padding-top: 20px") do %>
    Success! Your file is available under <%= link_to('this url', flash[:info]) %>
  <% end %>
<% end %>
